.App {
  text-align: center;
}

.App-header {
  /* background-image: url('halloween-dark.jpg'); */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(50px + 2vmin);
  color: #FF9100;
  font-family: 'Creepster', cursive;
  margin-bottom: 0.5em;
  margin-top:1em;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.movieListRow {
  display: flex;
}

.movieListRow ul {
  list-style-type: none;
  font-size: 1.5em;
  color: white;
}
