.App {

}

.App-header {
  /* background-image: url('halloween-dark.jpg'); */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(50px + 2vmin);
  color: #FF9100;
  font-family: 'Sigmar One', cursive;
  margin-bottom: 0.5em;
  margin-top:1em;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.movieList {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
}

.movieList ul {
  list-style-type: none;
  font-size: .9em;
  font-family: 'Kodchasan', sans-serif;
  color: white;
  margin-left:5px;
  padding-left:5px;
}

.movieList ul li {
   width: 20em;
}
